################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/.vs/TransportTicketingNetwork/v15
/Backend/Common.Core/obj
